---
- name: Ensure parent directories exist for file configs
  ansible.builtin.file:
    path: "{{ item.src | dirname }}"
    state: directory
  loop: "{{ config_entries | selectattr('is_file', 'defined') | selectattr('is_file') | list }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.dest is exists

- name: Restore configs from repo onto system
  ansible.posix.synchronize:
    src: "{{ item.dest }}"
    dest: "{{ item.src }}"
    mode: push
    delete: false
    rsync_opts: >-
      {{ ((['--no-owner', '--no-group', '--include=*/', '-m'] + (item.includes | map('regex_replace', '^(.*)$', '--include=\1') | list) + ['--exclude=*']) | map('quote') | list)
         if item.includes is defined
         else (((['--no-owner', '--no-group'] + (item.excludes | map('regex_replace', '^(.*)$', '--exclude=\1') | list)) | map('quote') | list)
         if item.excludes is defined
         else ['--no-owner', '--no-group']) }}
  loop: "{{ config_entries | rejectattr('is_file', 'defined') | list }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.dest is exists
  delegate_to: localhost

- name: Restore file configs from repo onto system
  ansible.builtin.copy:
    src: "{{ item.dest }}"
    dest: "{{ item.src }}"
    mode: preserve
  loop: "{{ config_entries | selectattr('is_file', 'defined') | selectattr('is_file') | list }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.dest is exists
