[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPT
Comment=ChatGPT
Exec=/usr/lib/floorp/floorp --name floorp-1d2734c5-f27a-4b80-92d1-ad1d1913fa27 --profile @@HOME@@/.floorp/79fbwj8n.default-default --start-ssb "{1d2734c5-f27a-4b80-92d1-ad1d1913fa27}"
Icon=@@HOME@@/.local/share/icons/hicolor/512x512/apps/floorp-1d2734c5-f27a-4b80-92d1-ad1d1913fa27.svg
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=floorp-1d2734c5-f27a-4b80-92d1-ad1d1913fa27
X-MultipleArgs=false
X-Floorp-StartUrl=https://chatgpt.com/
X-Floorp-Id={1d2734c5-f27a-4b80-92d1-ad1d1913fa27}
