---
- name: Enable system services
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
  loop: "{{ enabled_system_services }}"
  become: true
  register: service_result
  failed_when: service_result is failed and 'Could not find' not in service_result.msg

- name: Enable user socket/service units (pipewire stack)
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    scope: user
    daemon_reload: true
  loop: "{{ enabled_user_sockets }}"
